[submodule "AgeOfMax"]
	path = AgeOfMax
	url = https://github.com/MaxeLBerger/AgeOfMax.git
[submodule "FireCastle"]
	path = FireCastle
	url = https://github.com/MaxeLBerger/FireCastle.git
[submodule "AuTuneOnline"]
	path = AuTuneOnline
	url = https://github.com/MaxeLBerger/AuTuneOnline.git
[submodule "CasinoIdleSlots"]
	path = CasinoIdleSlots
	url = https://github.com/MaxeLBerger/casino-idle-slots.git
[submodule "TestoMax"]
	path = TestoMax
	url = https://github.com/MaxeLBerger/TestoMax.git
[submodule "BetterBestie"]
	path = BetterBestie
	url = https://github.com/MaxeLBerger/BetterBestie.git
[submodule "dl4j-graph-explorer"]
	path = dl4j-graph-explorer
	url = https://github.com/MaxeLBerger/dl4j-graph-explorer.git
