body {
    background-color: #150c33;
    color: white;
    font-family: Bahnschrift;
    overflow: scroll;
}

#wrapper {
    display: block;
    width: 100%;
}

.center {
    flex-direction: column;
    display: flex;
}

h1 {
    font-size: 100px;
    background: linear-gradient(to right, darkviolet, mediumvioletred);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 32px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeIn 1s;
}


h2 {
    font-size: 64px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeIn 1s;
}

h3 {
    font-size: 36px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeIn 1s;
}

.aboutme {
    margin-top: 100px;
    animation: fadeIn 1s;
}

    .aboutme .box {
        box-shadow: #322854 0px 0px 25px 10px;
        border-radius: 16px;
        width: 60%;
        text-align: left;
        background: url('res/programming1.jpg');
        height: 500px;
        display: flex;
        margin-bottom: 32px;
        font-size: 28px;
    }

        .aboutme .box p {
            margin-left: 16px;
        }

        .aboutme .box h3 {
            background: linear-gradient(to right, darkviolet, mediumvioletred);
            padding-right: 10px;
            padding-left: 10px;
            font-size: 2em;
            margin-left: 16px;
            margin-block-start: 25px;
            margin-block-end: 3px;
            border-radius: 16px;
            width: fit-content;
            color: white;
            text-shadow: 3px 3px #150c33;
        }

    .aboutme .picture {
        height: 100%;
        border-radius: 16px;
    }

    .aboutme .text {
        margin-right: 32px;
    }

    .aboutme .box.slideAnimation {
        font-size: 18px;
        height: 400px;
        transition: 1s;
        width: 80%;
    }

@keyframes fadeIn {
    0% {
        margin-top: 100%;
    }

    70% {
        margin-top: -15px;
    }

    100% {
    }
}

.slide {
    position: relative;
    left: 50%;
    width: fit-content;
    transform: translate(-50%);
}

#projects {
    
}

    #projects .header {
        text-align: right;
        position: relative;
        right: 25px;
    }

.projectTree {
}

.project {
    border: white 2px solid;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    position: relative;
    text-align: left;
}

    .project p {
        margin-left: 10px;
    }

    .project a {
        color: white
    }

    .project a:visited {
        color: white
    }

    .project img {
        position: relative;
        width: 100%;
    }


@media (max-width: 1533px) {
    .aboutme .box {
        height: 350px;
        font-size: 18px;
        color: white;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }
}

@media (max-width: 1020px) {
    .aboutme .box {
        height: 300px;
        font-size: 18px;
        color: white;
        width: 90%;
    }


}

@media (max-width: 870px) {
    .aboutme .box {
        height: 300px;
        font-size: 18px;
        color: white;
        width: 90%;
        overflow: scroll;
        display: flex;
    }

    .aboutme .text {
        width: 100%;
        position: relative;
    }

    .project {
        width: 90%;
    }

    .aboutme .picture {
        position: relative;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .aboutme .box {
        height: 300px;
        font-size: 18px;
        color: white;
        width: 90%;
        overflow: scroll;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}