/* Allgemeines Styling */
body {
    background-color: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body.light-theme {
    background-color: #ffffff;
    color: #121212;
}

/* Umschalter für Dark/Light Mode */
.theme-switch-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1001;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #6c63ff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 14px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body.light-theme nav {
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 60%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme nav ul li a {
    color: #121212;
}

nav ul li a:hover {
    background-color: #6c63ff;
    border-radius: 8px;
}

.nav-link.active {
    background-color: #00e676;
    color: #121212;
    border-radius: 8px;
}

body.light-theme .nav-link.active {
    background-color: #6c63ff;
    color: #ffffff;
}

/* Scroll Indikator */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: linear-gradient(to right, #6c63ff, #00e676);
    width: 0%;
    z-index: 1000;
}

/* Back-to-Top Button */
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

#back-to-top.show {
    display: block;
}

/* Parallax Scrolling Effekt */
.parallax {
    background-image: url('res/background.jpg'); /* Füge dein Hintergrundbild hier ein */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Flexbox Zentrierung */
.center {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Überschriften */
h1 {
    font-size: 80px;
    background-color: #6c63ff;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 32px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    color: #fff;
    line-height: 1.2;
    animation: fadeInSmooth 1.5s ease-in-out;
}

h2 {
    font-size: 64px;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeInSmooth 1.5s ease-in-out;
}

h3 {
    font-size: 36px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    animation: fadeInSmooth 1.5s ease-in-out;
}

/* Typing Text Animation */
.typing {
    display: inline-block;
    height: 36px; /* Feste Höhe, um das Springen zu verhindern */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    overflow: hidden; /* Verhindert, dass Text überläuft */
    vertical-align: bottom; /* Justiert das "|" Zeichen am unteren Rand */
}

/* Section Divider */
.section-divider {
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, #6c63ff, #00e676);
    margin: 40px auto;
}

/* About Me Section */
.aboutme {
    margin-top: 100px;
    animation: fadeInSmooth 1.5s ease-in-out;
}

.aboutme .box {
    box-shadow: #322854 0px 0px 25px 10px;
    border-radius: 16px;
    width: 60%;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    height: auto;
    display: flex;
    margin-bottom: 32px;
    font-size: 28px;
    transition: 0.5s;
    overflow: hidden;
}

.aboutme .box p {
    margin-left: 16px;
}

.aboutme .box h3 {
    background-color: #6c63ff;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2em;
    margin-left: 16px;
    margin-block-start: 25px;
    margin-block-end: 3px;
    border-radius: 16px;
    width: fit-content;
    color: white;
    text-shadow: 3px 3px #150c33;
}

.aboutme .picture {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    display: block;
}

.aboutme .text {
    width: 60%;
    margin: auto;
    padding: 20px;
}

/* Skills Bereich */
.skills-list {
    margin-top: 50px;
}

.languages {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.language-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6c63ff;
    padding: 20px;
    border-radius: 16px;
    width: 120px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.language-box:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.language-box img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.language-box span {
    font-weight: bold;
    color: white;
}

/* Projekte Bereich */
#projects {
    margin-top: 100px;
    margin-bottom: 100px;
}

.projects-divider {
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, #6c63ff, #00e676);
    margin: 40px auto;
}

.projectTree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.project img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.05);
}

.project p {
    color: #cfcfcf;
    line-height: 1.5;
    font-size: 14px;
    transition: color 0.3s ease;
    padding: 0 10px;
}

.project:hover p {
    color: #ffffff;
}

.project h3 a {
    color: #6c63ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project h3 a:hover {
    color: #00e676;
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #00e676;
}

/* Keyframes Animation */
@keyframes fadeInSmooth {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll Animationen */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Mobile Navigation */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px;
    transition: all 0.3s ease;
}

.nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.nav-list.active li {
    padding: 10px 0;
}

/* Medienabfragen für Responsivität */
@media (max-width: 1020px) {
    .aboutme .box {
        flex-direction: column;
        width: 90%;
    }

    .aboutme .text, .aboutme .picture {
        width: 100%;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    /* Anpassungen für kleinere Bildschirme */
    .project {
        width: 80%;
    }
}

@media (max-width: 870px) {
    .aboutme .box {
        height: auto;
        font-size: 18px;
        color: white;
        width: 90%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    .project {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .aboutme .box {
        height: auto;
        font-size: 18px;
        color: white;
        width: 90%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}

/* Zusätzliche Medienabfrage für sehr kleine Bildschirme (320px oder kleiner) */
@media (max-width: 320px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}
